# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Maven Package

on:
  push:
    branches:
    - main
    - release/*

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        server-username: ${{ github.actor }}
        server-password: ${{ secrets.GH_PACKAGES_TOKEN }}
        settings-path: ${{ github.workspace }} # location for the settings.xml file

    - name: Cache Gradle dependencies
      uses: actions/cache@v4
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
          
    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Deploy Maven packages to GitHub Packages (mvn_rep)
      run: mvn -B -U -DskipTests deploy --file pom.xml -pl puma-common-login,puma-common-utils
      env: # 将CI使用的GITHUB_TOKEN传递给Maven环境
        GITHUB_TOKEN: ${{ secrets.GB_TOKEN }}
